body {
    background-color: midnightblue;
    height: 1500px;
}

#journey {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#playSnakeBTN {

}