html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
    height: 420%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1a1c22;
    font-family: monospace; 
    
}

button {
    background-color: rgb(60, 0, 140);
    border: solid black 1px;
    color: rgb(226, 226, 226);
    border-radius: 10px;
}
button:hover {
    transform: scale(1.1);
}
ul {
    list-style-type: none;
}
.gameLogo {
    width: 100px;
    height: 100px;
}
/*Mobile*/
@media screen and (max-width: 480px) {
    .sidebarBTN {
        position: fixed;
        left: 30px;
        top: 30px;
        transform: translate(-50%,-50%);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: transparent;
        z-index: 2;
        transition: all 0.1;
    }
    .dots {
        position: fixed;
        z-index: 3;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 10px;
        height: 50px;
        width: 50px;
    }
    
    .threeDots {
        background-color: rgb(226, 226, 226);
        width: 30%;
        height: 3px;
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .dot1 {
        top: 25%;
    }
    .dot2 {
        top: 50%;
    }
    .dot3 {
        top: 75%;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100%;
        background-color: rgb(20, 20, 20); 
        z-index: 1;
        transition: all 0.3s;      
    }
    .sectionList a {
        text-decoration: none;
        color: white;
        position: relative;
        left: 50%;
        font-size: 20px;
        text-align: left;
    }
    .sectionList { 
        list-style: none;
        position: absolute;
        top: 50%;
        left: 0%;
        width: 100%;
        margin: 0;
        padding: 0;
        transform: translate(-50%,-50%);
        }
    .sectionList li {
        padding-left: 20%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .sectionList li:hover {
        background-color: rgb(60, 0, 140);
    }
    .socials {
        position: relative;
        top: 90%;
        left: 40%;
        transform: translate(-50%,-50%);
    }
    .socials li {
        display: inline-block;
        margin: 10%;
    }
    .socialLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        top: 50%;
        width: 40px;
        height: 40px;
        transition: all 0.2s ease-in-out;
    }
    .socialLogo:hover {
        transform: scale(1.1);
    }
    .content {
        position: absolute;
        width: 90%;
        height: 100%;
        left: 10%;
        margin-left: 0%;
    }
    .headerBox {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 10%;
        left: 30%;
        width: 80%;
        height: 10%;
        background-color: rgb(60, 0, 140);
        border-radius: 10px;
        transform: translate(-50%,-50%);
        font-size: 30px;
    }
    /*About me*/
    .aboutmeSection {
        position: absolute;
        top: 0%;
        left: 10%;
        width: 100%;
        height: 100%;
        color: rgb(226, 226, 226);
    }
    .titleBox {
        position: relative;
        top: 30%;
        left: 20%;
        width: 85%;
        height: 15%;
        color: rgb(226, 226, 226);
        background-color: rgb(60, 0, 140);
        border-radius: 10px;
        transform: translate(-50%,-50%);
    }
    .myName {
        position: relative;
        top: 50%;
        left: 55%;
        transform: translate(-50%,-50%);
        font-size: 20px;
        
    }
    .myDesc {
        position: absolute;
        left: -10%;
        top: 40%;
    }
    /*Journey*/
    .journeySection {
        position: absolute;
        display: grid;
        top: 100%;
        left: 0%;
        width: 100%;
        height: 100%;
        color: rgb(226, 226, 226);
    }
    .milestones {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 100%;
        height: 60%;
        left: -10%;
        top: 40%;
    }
    .milestone {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .milestone h3 {
        position: absolute;
        left: 80%;
        font-size: 25px;
        color: rgb(226, 226, 226);
        transform: translate(-50%,-50%);
        width: 100%;
    }
    .headerCircle {
        bottom: 25%;
    }
    .milestoneCircle {
        position: absolute;
        border-radius: 50%;
        width: 80px;
        height: 30px;
        border: double blue;
        background-color: cornflowerblue;
        left: 50%;
        transition: all 0.3s;
    }
    .milestoneCircle:hover {
        transform: scale(1.1);
    }
    .contentBox {
        position: absolute;
        width: 60%;
        height: 20%;
        left: 45%;
        top: 30%;
        border-radius: 10px;
        transform: translate(-50%,-50%);
    }
    .milestoneContent {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        background-color: rgb(60, 0, 140);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transform: translate(-50%,-50%);
        transition: all 0.3s;
        z-index: 0;
    }
    .milestoneX {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: transparent;
        top: 5px;
        right: 5px;
        transition: all 0.1s;
        z-index: 0;
        font-size: 20px;
    }

    /*
    .content1 {
        bottom: 80%;
    }
    .content2 {
        bottom: 30%;
    }
    .content3 {
        bottom: 80%;
    }
    .content4 {
        bottom: 30%;
    }
    .content5 {
        bottom: 80%;
    } */
    .circle1 {
        top: 30%;
    }
    .circle2 {
        bottom: 20%;
    }
    .circle3 {
        top: 30%;
    }
    .circle4 {
        bottom: 20%;
    }
    .circle5 {
        top: 30%;
    }
    /*Skills*/
    .skillsSection {
        position: absolute;
        display: grid;
        top: 200%;
        left: 0%;
        width: 100%;
        height: 100%;
        color: rgb(226, 226, 226);
    }
    .skills {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 50px;
        column-gap: 0px;
        width: 105%;
        height: 70%;
        left: -10%;
        top: 30%;
    }
    .skill {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        height: 90%;
        background-color: rgb(60, 0, 140);
        border-radius: 10px;
    }
    .skill h3 {
        position: absolute;
        left: 50%;
        top: 5%;
        font-size: 30px;
        color: rgb(226, 226, 226);
        transform: translate(-50%,-50%);
    }
    .skillLogo {
        position: absolute;
        left: 50%;
        top: 65%;
        transform: translate(-50%,-50%);
        height: 60px;
    }
    /*Projects*/
    .projectsSection {
        position: absolute;
        top: 300%;
        left: 0%;
        width: 100%;
        height: 100%;
        color: rgb(226, 226, 226);
    }
    
    .projects {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 40px;
        column-gap: 40px;
        width: 90%;
        height: 80%;
        left: 0%;
        top: 30%;
    }
    .project {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        background-color: rgb(60, 0, 140);
        border-radius: 10px;
    }
    .project h3 {
        position: absolute;
        left: 50%;
        top: 0%;
        font-size: 25px;
        color: rgb(226, 226, 226);
        transform: translate(-50%,-50%);
    }
    .project img {
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%,-50%);
        height: 90px;
        width: 90px;
    }
    .container {
        position: absolute;
        left: 50%;
        bottom: -5%;
        transform: translate(-50%,-50%);
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    .btnSnake {
        position: relative;
        width: 80px;
        height: 40px;
        font-size: 20px;
        transition: all 0.2s ease-in-out;
    }
    .btnTic {
        position: relative;
        width: 80px;
        height: 40px;
        font-size: 20px;
        transition: all 0.2s ease-in-out;
    }
    .btn3 {
        position: relative;
        width: 80px;
        height: 40px;
        font-size: 20px;
        transition: all 0.2s ease-in-out;
    }
    .btn4 {
        position: relative;
        width: 80px;
        height: 40px;
        font-size: 20px;
        transition: all 0.2s ease-in-out;
    }
    .btn5 {
        position: relative;
        width: 80px;
        height: 40px;
        font-size: 20px;
        transition: all 0.2s ease-in-out;
    }
    .btn6 {
        position: relative;
        width: 80px;
        height: 40px;
        font-size: 20px;
        transition: all 0.2s ease-in-out;
    }
}
/*anchors*/
#anchor1 {
    position: absolute;
    top: 0%;
}
#anchor2 {
    position: absolute;
    top: 100%;
}
#anchor3 {
    position: absolute;
    top: 200%;
}
#anchor4 {
    position: absolute;
    top: 300%;
}
/*Desktop*/
@media screen and (min-width: 1024px) {
    
    .sidebar {
        position: fixed;
        top: 0;
        left: 0%;
        width: 10%;
        height: 100%;
        background-color: rgb(20, 20, 20); 
        z-index: 1;      
    }
    .sectionList a {
        text-decoration: none;
        color: white;
        position: relative;
        left: 50%;
        font-size: 20px;
        text-align: left;
    }
    .sectionList { 
        list-style: none;
        position: absolute;
        top: 50%;
        left: 0%;
        width: 100%;
        margin: 0;
        padding: 0;
        transform: translate(-50%,-50%);
        }
    .sectionList li {
        padding-left: 20%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .sectionList li:hover {
        background-color: rgb(60, 0, 140);
    }
    .socials {
        position: relative;
        top: 90%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .socials li {
        display: inline-block;
        margin: 10%;
    }
    .socialLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        top: 50%;
        width: 40px;
        height: 40px;
        transition: all 0.2s ease-in-out;
    }
    .socialLogo:hover {
        transform: scale(1.1);
    }
    .content {
        position: absolute;
        width: 90%;
        height: 100%;
        left: 10%;
        margin-left: 0%;
    }
    .headerBox {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 10%;
        left: 20%;
        width: 30%;
        height: 10%;
        background-color: rgb(60, 0, 140);
        border-radius: 10px;
        transform: translate(-50%,-50%);
        font-size: 65px;
    }
    /*About me*/
    .aboutmeSection {
        position: absolute;
        top: 0%;
        left: 10%;
        width: 100%;
        height: 100%;
        color: rgb(226, 226, 226);
    }
    .titleBox {
        position: relative;
        top: 30%;
        left: 20%;
        width: 60%;
        height: 15%;
        color: rgb(226, 226, 226);
        background-color: rgb(60, 0, 140);
        border-radius: 10px;
        transform: translate(-50%,-50%);
    }
    .myName {
        position: relative;
        top: 50%;
        left: 55%;
        transform: translate(-50%,-50%);
        font-size: 90px;
        
    }
    .myDesc {
        position: absolute;
        left: 0%;
        top: 45%;
    }
    /*Journey*/
    .journeySection {
        position: absolute;
        display: grid;
        top: 100%;
        left: 0%;
        width: 100%;
        height: 100%;
        color: rgb(226, 226, 226);
    }
    .contentBox {
        position: absolute;
        left: 25%;
        top: 50%;
        width: 40%;
        height: 30%;
        border-radius: 10px;
        transform: translate(-50%,-50%);
    }
    .milestones {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 45%;
        height: 60%;
        left: 40%;
        top: 40%;
    }
    .milestone {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .milestone h3 {
        position: absolute;
        left: 58%;
        font-size: 25px;
        color: rgb(226, 226, 226);
        transform: translate(-50%,-50%);
    }
    .headerCircle {
        bottom: 25%;
    }
    .milestoneCircle {
        position: absolute;
        border-radius: 50%;
        width: 80px;
        height: 30px;
        border: double blue;
        background-color: cornflowerblue;
        left: 50%;
        transition: all 0.3s;
    }
    .milestoneCircle:hover {
        transform: scale(1.1);
    }
    .milestoneContent {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        background-color: rgb(60, 0, 140);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transform: translate(-50%,-50%);
        transition: all 0.3s;
        z-index: 0;
        font-size: 30px;
    }
    .milestoneX {
        position: absolute;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: transparent;
        top: 5px;
        right: 5px;
        transition: all 0.1s;
        z-index: 0;
        font-size: 30px;
        text-align: center;
        cursor: pointer;
    }
    .circle1 {
        top: 20%;
    }
    .circle2 {
        bottom: 20%;
    }
    .circle3 {
        top: 20%;
    }
    .circle4 {
        bottom: 20%;
    }
    .circle5 {
        top: 20%;
    }
    /*Skills*/
    .skillsSection {
        position: absolute;
        display: grid;
        top: 200%;
        left: 0%;
        width: 100%;
        height: 100%;
        color: rgb(226, 226, 226);
    }
    .skills {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 50px;
        column-gap: 0px;
        width: 90%;
        height: 80%;
        left: 5%;
        top: 30%;
    }
    .skill {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 50%;
        height: 50%;
        background-color: rgb(60, 0, 140);
        border-radius: 10px;
    }
    .skill h3 {
        position: absolute;
        left: 50%;
        top: 5%;
        font-size: 40px;
        color: rgb(226, 226, 226);
        transform: translate(-50%,-50%);
    }
    .skillLogo {
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%,-50%);
        height: 100px;
    }
    /*Projects*/
    .projectsSection {
        position: absolute;
        top: 300%;
        left: 0%;
        width: 100%;
        height: 100%;
        color: rgb(226, 226, 226);
    }
    
    .projects {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 50px;
        column-gap: 50px;
        width: 45%;
        height: 80%;
        left: 40%;
        top: 30%;
    }
    .project {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        background-color: rgb(60, 0, 140);
        border-radius: 10px;
    }
    .project h3 {
        position: absolute;
        left: 50%;
        top: 5%;
        font-size: 40px;
        color: rgb(226, 226, 226);
        transform: translate(-50%,-50%);
    }
    .project img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .container {
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translate(-50%,-50%);
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    .btnSnake {
        position: relative;
        width: 80px;
        height: 50px;
        font-size: 20px;
        transition: all 0.2s ease-in-out;
    }
    .btnTic {
        position: relative;
        width: 80px;
        height: 50px;
        font-size: 20px;
        transition: all 0.2s ease-in-out;
    }
    .btn3 {
        position: relative;
        width: 80px;
        height: 50px;
        font-size: 20px;
        transition: all 0.2s ease-in-out;
    }
    .btn4 {
        position: relative;
        width: 80px;
        height: 50px;
        font-size: 20px;
        transition: all 0.2s ease-in-out;
    }
    .btn5 {
        position: relative;
        width: 80px;
        height: 50px;
        font-size: 20px;
        transition: all 0.2s ease-in-out;
    }
    .btn6 {
        position: relative;
        width: 80px;
        height: 50px;
        font-size: 20px;
        transition: all 0.2s ease-in-out;
    }
}
/*anchors*/
#anchor1 {
    position: absolute;
    top: 0%;
}
#anchor2 {
    position: absolute;
    top: 100%;
}
#anchor3 {
    position: absolute;
    top: 200%;
}
#anchor4 {
    position: absolute;
    top: 300%;
}
footer {
    position: absolute;
    top: 400%;
    height: 5%;
    background-color: rgb(20, 20, 20);
}